<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-header">New package</div>
        <div class="card-body">
          <form
            id="newPostForm"
            [formGroup]="newPostForm"
            (submit)="submit()"
            (reset)="reset()"
            #form="ngForm"
            novalidate
          >
            <app-nested-contact-form formGroupName="contact"></app-nested-contact-form>
            <app-nested-address-form formGroupName="address"></app-nested-address-form>
            <div class="form-row">
              <app-custom-services-input
                class="mx-auto form-control"
                formControlName="services"
                [options]="availableServices"
              ></app-custom-services-input>
            </div>
          </form>
        </div>
        <div class="card-footer bg-transparent text-right">
          <button type="submit" form="newPostForm" class="ml-1 btn btn-primary"> Submit </button>
          <button type="reset" form="newPostForm" class="ml-1 btn btn-secondary"> Reset </button>
          <button (click)="toggleEnable()" class="ml-1 btn btn-outline-secondary"> Toggle enable </button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header">Debug info</div>
        <div class="card-body">
          <div>Dirty: {{ newPostForm.dirty }}</div>
          <div>Valid: {{ newPostForm.valid }}</div>
          <div>Touched: {{ newPostForm.touched }}</div>
          <div>Submitted: {{ form.submitted }}</div>
          <div *ngIf="form.submitted">Submitted data: <pre> {{ submitedData | json }} </pre> </div>
          <div>Form state: <pre> {{ newPostForm.value | json }} </pre> </div>
        </div>
      </div>
    </div>
  </div>
</div>
