<div class="btn-group" role="group" aria-label="Available services">
  <ng-container *ngFor="let service of options">
    <div
      #optionElem
      class="btn btn-secondary"
      [ngClass]="{
        active: isSelected(service),
        disabled: disabled,
        focus: optionCheckbox == focusedItem
      }"
      (click)="selectService(service, optionCheckbox)"
      [attr.aria-checked]="isSelected(service)"
      role="checkbox"
    >
      {{ service.name }} ${{ service.price }}
    </div>
    <input
      #optionCheckbox
      type="checkbox"
      [attr.name]="service.name"
      [attr.tabindex]="tabindex"
      (change)="selectService(service, optionCheckbox)"
      (focus)="onFocus(optionCheckbox)"
      (blur)="onBlur()"
      [checked]="isSelected(service)"
      [disabled]="disabled"
    />
  </ng-container>
</div>
