div.btn:not(.disabled) {
  cursor: pointer;
}
:host(.form-control) {
  background-image: unset;
  height: unset;
  width: unset;
  margin: 0px;
  padding: 0px;
}
input{
  z-index: -1;
  position: absolute;
}
